* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background: linear-gradient(to bottom right, #80A3C3, #4585c0);

}

a {
    text-decoration: none;
    color: #333;
}

article {
    width: 768px;
    margin: 50px auto;
    padding: 40px 80px;
    background-color: #fffffb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

ul {
    list-style: none;
}

section li {
    width: 120px;
    padding: 4px 0;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
}

figure {
    width: 220px;
}

figcaption {
    margin-top: 10px;
    font-size: 12px;
    color: #666;
    text-align: center;
}

.avatar-section {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.about-user {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-user h2 {
    font-size: 28px;
}

.about-user p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

.social-links {
    display: flex;
    gap: 15px;

}

.user-icons {
    margin-top: 5px;
    font-size: 35px;
    color: #3b6185;
}

.user-icons:hover {
    color: #0e51ad;
}

.sections {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

section h3 {
    margin-bottom: 10px;
}

.l-one {
    background: #CBDCEB;
}

.l-one:hover {
    background: #93c5f1;
}

.l-two {
    background: #F7CAC9;
}

.l-two:hover {
    background: #faa2a0;
}

.l-three {
    background: #BADFDB;
}

.l-three:hover {
    background: #7dd3b9;
}

.l-four {
    background: #D9E9CF;
}

.l-four:hover {
    background: #a3d977;
}

.l-five {
    background: #EBD6FB;
}

.l-five:hover {
    background: #d8b4fe;
}

.l-six {
    background: #FFD6BA;
}

.l-six:hover {
    background: #ffb997;
}

.divider {
    border-bottom: 4px dotted #3b6185;
    margin: 35px 0;
}

.fun-fact {
    text-align: center;
}

.fun-fact-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.fun-fact-icon {
    color: #FFC400;
    text-shadow:
        0 0 3px #fff176,
        0 0 6px #ffee58,
        0 0 9px #ffeb3b;
}

@media (max-width: 768px) {
    article {
        width: 70%;
        padding: 30px 50px;
    }

    .avatar-section {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }
    .about-user {
        margin-top: 15px;
        width: 80%;
        align-items: center;
        text-align: center;
    }

    .divider {
        margin: 25px 0;
    }
    .sections {
        flex-direction: column;
        gap: 20px;   
    }
    section ul{
        width: fit-content;
        margin: 0 auto;
    }
}
@media (max-width: 425px){
    article {
        width: 90%;
        padding: 20px 30px;
        margin: 30px auto;
    }
    .about-user {
        width: 100%;
       
    }

}
@media (max-width: 375px){
     article {
        width: 100%;
        margin: 20px auto;
        border-radius: 0;
        box-shadow: none;
    }
    body{
        background: #fffffb;
    }
}